*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: hsl(233, 47%, 7%);
	color: ;
}

.preview{
	margin: 50px;
	/*padding: 50px;*/
	background: hsl(244, 38%, 16%);
	border-radius: 15px;
	overflow: hidden;
	}

.image{
	
	filter: invert(8%) sepia(13%) saturate(3207%) hue-rotate(220deg) brightness(95%) contrast(80%);

}

.heading{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: -20px;
}

h1{
	color: hsl(0, 0%, 100%);
	padding: 10px;
	margin-bottom: 20px;
}

h1 span{
	color: hsl(277, 64%, 61%);
}

.text-body{
	margin-left: 60px;
}

p{
	color: hsla(0, 0%, 100%, 0.75);
}

.ranking{
	display: inline-flex;
	margin-left: 60px;
	margin-top: 40px;
}

.rank{
	margin-right: 20px;
}

h3{
	color: hsl(0, 0%, 100%);
}

.attribution{
	color: white;
}


@media screen and (max-width: 600px) {
  img{
  	padding-bottom: ;
    margin-bottom: 40px;
  }
  .ranking{
  	margin: 30px;
  	width: 50px;
  }
  .rank{
  	font-size: 10px;
  	padding-left: 5px;
  	padding-right: 3px;
  	margin-right: 0;
  	margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  h1{
  	padding: 40px;
  }
}